* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: white;
    box-sizing: border-box;
}

body {
    background-color: black;
}

aside {
    background-color: #373c3f;
}

.proj-container,
.todo-container {
    padding: 48px 24px;
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
    height: 100vh;
}

.proj-header,
.proj-name {
    font-size: 3rem;
}

.add-proj-cont {
    display: flex;
    justify-content: flex-end;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 64px;
}

.divider {
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: hsla(0, 0%, 100%, 0.4)
}

.add-proj {
    background-color: transparent;
    justify-self: flex-end;
    padding: 8px;
    font-size: 1.5rem;
}

.add-proj:hover {
    background-color: #444a4d;
    transform: scale(1.25);
}

.project {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.fa-trash-can:hover {
    transform: scale(1.25);
    color: red;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.gold {
    color: #d8c369;
    font-size: 2rem;
}

.todo {
    border: 1px solid hsla(0, 0%, 100%, 0.4);
    border-radius: 5px;
    padding: 16px;
}