* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: white;
    box-sizing: border-box;
}

body {
    background-color: #2f3437;
}

aside {
    background-color: #373c3f;
}

.proj-container,
.todo-container {
    padding: 48px 24px;
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
    height: 100vh;
}

.proj-header,
.todo-header {
    font-size: 3rem;
}

.add-proj-cont {
    display: flex;
    justify-content: flex-end;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 64px;
}

.divider {
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: hsla(0, 0%, 100%, 0.4)
}

.add-proj,
.add-todo {
    background-color: transparent;
    justify-self: flex-end;
    padding: 8px;
    font-size: 1.5rem;
}

.add-proj:hover,
.add-todo:hover {
    background-color: #444a4d;
    transform: scale(1.25);
    cursor: pointer;
}

.projects,
.todos {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
}

.project {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: 8px;
}

.project:hover {
    background-color: hsla(0, 0%, 100%, 0.4);
}

.fa-trash-can:hover {
    transform: scale(1.25);
    color: red;
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.gold {
    color: #d8c369;
    font-size: 2rem;
}

.todo {
    border: 1px solid hsla(0, 0%, 100%, 0.4);
    border-radius: 5px;
    padding: 16px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.left,
.right,
.edit {
    display: flex;
    gap: 24px;
    align-items: center;
}

.edit > span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.check {
    border: 1px solid hsla(0, 0%, 100%, 0.4);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.fa-pencil:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.modal-container {
    width: 100vw;
    height: 100vh;
    z-index: 2;
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-proj-modal {
    border: 2px solid hsla(0, 0%, 100%, 0.4);
    border-radius: 10px;
    padding: 25px;
    background-color: #3f4447;
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
}

.show {
    visibility: visible;
}

.big {
    font-size: 3rem;
    font-weight: bold;
    color: hsla(0,0%,100%,.8)
}

.proj-name {
    height: 48px;
    color: black;
    font-size: 2rem;
}

.btn-cont {
    display: flex; 
    justify-content: space-around;
}

.create-proj, 
.cancel {
    font-size: 24px;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.create-proj {
    color: white;
    background-color: #00cd00;
}

.cancel {
    color: white;
    background-color: red;
}